@import "../../style/fonts.scss";

.buttonmenu {
  display: none;
}
.wrapper {
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.wrapperBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.mainBox {
  display: flex;
  gap: 100px;
}

.navLogo {
  width: 103px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 20px;
}

.logoImg {
  width: 100%;
  cursor:pointer;
}

.navMain {
  display: flex;
  gap: 56px;
  align-items: center;
}

.mainLink {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #1a1a18;
  cursor: pointer;
}

.btnReg {
  border-radius: 8px;
  padding: 14px 16px;
  width: 166px;
  height: 48px;

  background: var(--primary);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  transition: 500ms;

  &:hover {
    background-color: #000e3f;
  }
}

.navMain1 {
  display: none;
}

.navMain2 {
  display: none;
}

@media (max-width: 940px) {
  .container {
    max-width: 100%;
  }
  .navMain1 {
    transition: 500ms;
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    .mainLink2 {
      font-weight: 600;
      padding: 5px;
      letter-spacing: 0.01em;
      color: #1a1a18;
      cursor: pointer;
    }
  }
  .navMain {
    display: none;
  }
  .buttonmenu {
    display: flex;
  }
}
.burgernav {
  position: fixed;
  background: white;
  z-index: 100;
  width: 100%;
  transition: 100ms;
}
