.infoImg {
  height: 100vh;
  display: flex;
  .bgImg {
    align-self: flex-start;
    background-image: url(../../style/imaages/Frame1.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    background-position: 13% 15%;
    background-size: cover;
    margin-right: -150px;
  }
  
}


.infoTitle {
    flex: 1;
    margin-left: -50%;
    z-index: 1;
    background: linear-gradient(to left, #000046 55%, #00004600);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.textBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 627px;
  padding: 0 100px 0 0;
}

.heroTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 157%;
  letter-spacing: 0em;
  color: var(--white);
  // width: 627px;
}
.textp {
  display: flex;
  align-items: center;
  gap: 0 40px;
  color: var(--green-second);
  span {
    border: 2px solid var(--green-second);
    height: 50px;
    display: inline-block;
    transform: rotate(-90deg);
    margin-left: 25px;
  }
}
.infoBtns {
  display: flex;
  gap: 23px;
  display: flex;
  align-items: center;
}

.btnHero {
  border-radius: 8px;
  padding: 14px 16px;
  width: 184px;
  height: 56px;
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #010147;
  cursor: pointer;
  transition: 500ms;
  &:hover {
    background: rgba(255, 255, 255, 0.822);
  }
}
.doira {
  width: 70px;
  height: 70px;
  border: 2px solid #ffffffd0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doira1 {
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--white);
}

.btnRightBox {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    transform: scale(1.03);
  }
}


@media (max-width: 900px) {
  .infoImg {
    flex-direction: column;
    align-items: center;
  }

  .bgImg {
    width: 100% !important;
    height: 300px;
    margin-right: 0;
    background-position: center center;
  }

  .infoTitle {
    z-index: 999;
    margin-top: -220%;
    margin-left: 0;
    width: 100%;
    padding: 20px;
    height: 800px;
    text-align: center;
    background: linear-gradient(to top, #000046ee, #00004600);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textBox {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    gap: 20px;
    margin: 0 auto;
  }

  .heroTitle {
    font-size: 28px;
    line-height: 120%;
  }

  .infoBtns {
    flex-direction: column;
    gap: 15px;
  }

  .btnHero {
    width: 100%;
  }
}
@media(max-Width:600px){
  .infoImg {
    height: 100vh;
    display: flex;
    .bgImg {
      background-position: 26% 15%;
    }
    
  }
}
@media (max-width: 430px) {
  .infoImg {
    height: 100vh;
    display: flex;
    .bgImg {
      background-position: 26% 15%;
    }
    
  }
  
  .infoTitle{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroTitle {
    font-size: 28px;
  }

  .doira {
    width: 50px;
    height: 50px;
  }

  .doira1 {
    width: 35px;
    height: 35px;
  }

  .textp {
    flex-direction: column;
    gap: 10px;
  }

  .textBox {
    padding: 0 10px;
  }
}
@media (max-width: 450px) {
  .textp{
    margin-top: 50px;
    font-size: 14px;
    padding: 0 5px;
    span{
      display: none;
      
    }
    
  }
  .heroTitle{
    margin: 20px 0;
  }
  .btnHero{
    margin-bottom: 20px;
  }
}
