
.card{
    gap: 32px;
    display: flex;
}
.left {
  border-radius:16px ;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 456px;
  height: 441px;
  background: #2b2d60;
  justify-content: center;
}
.text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #77ecb2;
  display: flex;
  align-items: start;
//   margin-bottom: 22px;
  margin-top: 81px;
  justify-content: center;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 34px;
  line-height: 150%;
  color: #fdfbf8;
}
.textp {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: var(--white);
  margin-top: 14px;
  margin-bottom: 81px;
  
}
.texts{
    display: inline-block;
    border: 1px solid #77ecb2;
    height: 25px;
    transform: rotate(-90deg);
    margin: 0 15px;
}
.right{
    display: flex;
    gap:32px;
}
.card1,.card2{
    width: 386px;
    height: 441px;
    background-image: url(../../assets/images/course1.png);
    display: flex;
    align-items: end;
    padding: 20px;
}
.card2{
    background-image: url(../../assets/images/course2.png);
}
.cardimg1,.cardimg2{
    font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 130%;
text-transform: capitalize;
color: var(--white);
background-color: #00090069;
  padding: 5px;
}