.footer {
    padding: 40px 0;
    background: #fff;
  
    font-family: sans-serif;
  
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 32px;
      border-bottom: 1px solid #0a142f;
  
      .logo {
        width: 103px;
height: 52px;
        cursor: pointer;
      }
  
      .socialIcons {
        display: flex;
        gap: 16px;
  
        img {
          width: 26px;
          height: 26px;
          cursor: pointer;
          transition: transform 0.3s;
  
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  
    .linkBox {
      display: flex;
      justify-content: space-between;
    }
  
    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
      margin: 48px 0;
  
      a {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 15px;
        letter-spacing: -0.01em;
        color: var(--primary);
        cursor: pointer;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .bottom {
      display: flex;
      justify-content: space-between;
     
      font-size: 13px;
      color: #555;
  
      .legal {
        display: flex;
        gap: 20px;
  
        a {
          color: #555;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  
  @media (max-width:500px) {
     .bottom {
      
      .legal {
        text-align: center;
      }
     }
  }